header {
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: #4EA1FE;
  background-repeat: repeat;
}
.box-image {
  width: 20rem;
  margin-bottom: 10px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.autore {
  color: #797979;
  font-weight: bold;
  font-size: 2rem;
}

.data {
  color: #797979;
  font-weight: bold;
  margin-bottom: 80px;
}

div span {
  color: #539CB6;
}

.tim-images {
  background-size: cover;
}

.text {
  font-size: 2rem;
}

p span {
  background-color: yellow;
}

th{
  color: white;
  background-color: #4EA1FE;
  width: 100;
  min-width: 500px;
}

.dispari {
  background-color: #B1E6F2;
}