/*tag*/
body {
  font-size: 2rem;
}

/*header*/

header {
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: #4EA1FE;
  background-repeat: repeat;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/*/header*/

p span {
  background-color: yellow;
}

th{
  color: white;
  background-color: #4EA1FE;
  width: 100;
  min-width: 500px;
}

div span {
  color: #539CB6;
}

/*/tag*/

/*class*/
.autore {
  color: #797979;
  font-weight: bold;
  font-size: 2rem;
}

.logo {
  width: 20rem;
  margin-bottom: 10px;
  min-height: 180px;
  padding-top: 85px;
  padding-left: 20px;
}

.data {
  color: #797979;
  font-weight: bold;
  margin-bottom: 80px;
}

.tim-images {
  background-size: cover;
}

.dispari {
  background-color: #B1E6F2;
}

.box-image1 {
  font-size: 2.5rem;
  font-weight: bold;
  height: 300px;
  width: 400px;
  background-image: url(../img/monitor.jpg);
  margin-bottom: 10px;
  background-size: cover;
  color: white;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
}
.box-image2 {
  font-size: 2.5rem;
  font-weight: bold;
  height: 300px;
  width: 400px;
  background-image: url(../img/graph.jpg);
  margin-bottom: 10px;
  background-size: cover;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

/*/class*/